<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AJH_Sitemap" setup_version="1.0.0">
        <sequence>            
            <module name="AJH_FitmentUrlRewrite"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Sitemap"/>
        </sequence>
    </module>
</config>