<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="fitmentseo" id="fitmentseo">
            <module name="AJH_FitmentUrlRewrite"/>
        </route>
    </router>
</config>